<div style="color: #8B4513; font-weight: bold; font-size: 16px;">
    
# Airbnb Price Determinants in Europe</div>
This dataset provides Airbnb rental information for major European cities, including Amsterdam, Rome, Paris, Vienna, Budapest, Berlin, London, and Lisbon. It features key attributes such as listing price, room type, host status (e.g., superhost), amenities, and location details. The data can be used to analyze factors influencing rental prices, helping travelers find affordable accommodations that meet their needs. It also offers valuable insights for hosts to set competitive prices and improve their listings to attract more bookings. Additionally, property investors can use this dataset to identify pricing trends and make informed decisions about real estate investments across Europe.

<div style="color: #8B4513; font-weight: bold; font-size: 16px;">
    
## Dataset Column Profile

| **Column Name**               | **Description**                                                                                   |
|-------------------------------|---------------------------------------------------------------------------------------------------|
| realSum                       | The total price of the Airbnb listing.                                                           |
| room_type                     | The type of room offered (e.g., private room, shared room, entire home/apt).                     |
| room_shared                   | Whether the room is shared or not. 1 - True, 0 - False.                                          |
| room_private                  | Whether the room is private or not. 1 - True, 0 - False.                                         |
| person_capacity               | The maximum number of people that can be accommodated in a single listing.                      |
| host_is_superhost             | Whether or not a particular host is identified as a superhost on Airbnb. 1 - Yes, 0 - No.       |
| multi                         | Whether multiple rooms are provided in one individual listing or not. 1 - Yes, 0 - No.          |
| biz                           | Whether a particular listing offers business facilities like meeting area/conference rooms.     |
| cleanliness_rating            | The rating associated with how clean an individual property was after guests stayed at it.      |
| guest_satisfaction_overall    | The overall rating which shows how satisfied guests are with their stay.                        |
| bedrooms                      | The total quantity of bedrooms available among all properties for a single host.                |
| dist                          | Distance from city center associated with every rental property.                                |
| metro_dist                    | Distance from the nearest metro station associated with every rental property.                  |
| lng                           | Longitude measurement corresponding to each rental unit.                                         |
| lat                           | Latitude measurement corresponding to each rental unit.                                          |
| attr_index                    | Represents the attraction index of the listing's location.                                      |
| attr_index_norm               | Normalized version of the attraction index for easier comparison across listings.               |
| rest_index                    | The restaurant index of the listing's location.                                                 |
| rest_index_norm               | Normalized restaurant index, with values ranging from 0 to 100 for standardized comparisons.     |

<div style="color: #8B4513; font-weight: bold; font-size: 16px;"> 

### Importing required libraries

In [5]:
import os
import glob
import warnings

import pandas as pd

warnings.filterwarnings('ignore')

<div style="color: #8B4513; font-weight: bold; font-size: 15px;">

### Data loading

In [7]:
# Load all files
file_list = glob.glob('/Users/alinagajdun/Documents/python for DA/data/Arbnb_price_data/*.csv')

# Load all files into a list of DataFrames
dataframe = [pd.read_csv(file) for file in file_list]

<div style="color: #8B4513; font-weight: bold; font-size: 15px;">

### Transforming and Cleaning Data

In [9]:
# Create an empty list to store all tables
arbnb_data = []

# Function to transform and clean data
def transform_clean_data(file_list, bool_columns):
    """
    Transform and clean Airbnb data from a list of CSV files.

    This function reads a list of CSV files, extracts city names and day types from the file names,
    and performs the following operations:
        - Adds new columns: 'City' and 'day_of_week', extracted from the file name.
        - Reorders the columns, moving 'City' and 'day_of_week' to the front.
        - Converts boolean values (True/False) to integers (1/0) in the specified columns.
        - Drops the 'Unnamed: 0' column if it exists.
        - Appends the cleaned DataFrame to a global list `arbnb_data`.

    Parameters:
        file_list (list): List of file paths to the CSV files.
        bool_columns (list): List of column names that contain boolean values to be converted.

    Returns:
        None
    """
    for file in file_list:
        df = pd.read_csv(file)
       
         # Extract city name and day type from the file name
        filename = os.path.basename(file).split('.')[0]
        city, day_of_week = filename.split('_')

        # Add new columns: city and day_of_week
        df['City'] = city.capitalize()
        df['day_of_week'] = day_of_week.capitalize()

        # Columns to move
        columns_to_move = ['City', 'day_of_week']

        # Retain other columns
        remaining_columns = [col for col in df.columns if col not in columns_to_move]

        # Reorder columns
        new_column_order = columns_to_move + remaining_columns
        df = df[new_column_order]

        
        # Convert True/False values to 1/0 in specified columns
        for col in bool_columns:
            if col in df.columns:
                df[col] = df[col].astype(int)
            else:
                print(f'Column {col} not found in file {file}')
         
        # Drop the 'Unnamed: 0' column if it exists
        if 'Unnamed: 0' in df.columns:
            df.drop(columns=['Unnamed: 0'], inplace=True)

        # Append the cleaned DataFrame to the list
        arbnb_data.append(df)

In [10]:
# Apply the transformation and cleaning function
transform_clean_data(file_list, ['room_shared', 'room_private', 'host_is_superhost'])

# Combine all tables into one
arbnb_df = pd.concat(arbnb_data, ignore_index=True)

# Save the combined DataFrame to a file
arbnb_df.to_csv('arbnb_data.csv', index=False)
print('Combined data saved to "arbnb_data.csv"')

Combined data saved to "arbnb_data.csv"

In [11]:
# Load the updated DataFrame
df = pd.read_csv('/Users/alinagajdun/Documents/python for DA/data/Arbnb_price_data/arbnb_data.csv')

# Filter columns of type 'object' for optimization
filtered = df.select_dtypes(include='object')

# Extract unique categories and convert columns
for col in filtered.columns:
    unique_categories = df[col].unique()
    df[col] = pd.Categorical(df[col], categories=unique_categories, ordered=True)

# Check for duplicate rows
duplicate = df.duplicated().sum()
print(f'Number of duplicate rows: {duplicate}\n')

# Check for missing values
missing = df.isnull().sum()
print(f'Missing values per column:\n{missing}')

Number of duplicate rows: 0

Missing values per column:
City                          0
day_of_week                   0
realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
dtype: int64

In [12]:
# Choose specify float columns to transform in int type
int_col = df[['person_capacity', 'cleanliness_rating', 'guest_satisfaction_overall']]

# Extract unique categories and convert columns
for col in int_col.columns:
    df[col] = df[col].astype('int')

In [13]:
# Apply float format for all float data
pd.options.display.float_format = "{:.3f}".format  # Display up to 3 decimal places
pd.options.display.max_columns = None  # Display all columns when outputting

# Output information about the DataFrame
print(df.info())
display(df.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51707 entries, 0 to 51706
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   City                        51707 non-null  category
 1   day_of_week                 51707 non-null  category
 2   realSum                     51707 non-null  float64
 3   room_type                   51707 non-null  category
 4   room_shared                 51707 non-null  int64
 5   room_private                51707 non-null  int64
 6   person_capacity             51707 non-null  int64
 7   host_is_superhost           51707 non-null  int64
 8   multi                       51707 non-null  int64
 9   biz                         51707 non-null  int64
 10  cleanliness_rating          51707 non-null  int64
 11  guest_satisfaction_overall  51707 non-null  int64
 12  bedrooms                    51707 non-null  int64
 13  dist                        51707 non-null  float64
 14  metro_dist                  51707 non-null  float64
 15  attr_index                  51707 non-null  float64
 16  attr_index_norm             51707 non-null  float64
 17  rest_index                  51707 non-null  float64
 18  rest_index_norm             51707 non-null  float64
 19  lng                         51707 non-null  float64
 20  lat                         51707 non-null  float64
dtypes: category(3), float64(9), int64(9)
memory usage: 7.2 MB
None

,City,day_of_week,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,Amsterdam,Weekdays,194.034,Private room,0,1,2,0,1,0,10,93,1,5.023,2.539,78.690,4.167,98.254,6.846,4.906,52.418
1,Amsterdam,Weekdays,344.246,Private room,0,1,4,0,0,0,8,85,1,0.488,0.239,631.176,33.421,837.281,58.343,4.900,52.374
2,Amsterdam,Weekdays,264.101,Private room,0,1,2,0,0,1,9,87,1,5.748,3.652,75.276,3.986,95.387,6.647,4.975,52.361

In [14]:
df.to_pickle('/Users/alinagajdun/Documents/python for DA/data/Arbnb_price_data/cleaned_arbnb_data.pkl')
print("DataFrame збережено у форматі Pickle.")

DataFrame збережено у форматі Pickle.